<div *ngIf="towers$ | async as towers">
  <label for="towerSelect">Select Tower:</label>
  <select id="towerSelect" (change)="onSelectTower($event)">
    <option *ngFor="let tower of towers;" [value]="tower.number">
      Tower {{ tower.number }}
    </option>
  </select>
</div>

<!-- <pre>{{ towers$ | async | json }}</pre> -->

<hr />

<div *ngIf="selectedTower$ | async as selectedTower">
  <h2>Tower {{ selectedTower.number }}</h2>

  <div *ngFor="let slot of selectedTower.slots">
    <h3>Slot {{ slot.number }}</h3>

    <div *ngIf="slot.growthTray">
      <h4>Growth Tray {{ slot.growthTray.identifier }}</h4>
      <p>Growth Job: {{ slot.growthTray.growthJob?.name }}</p>
      <progress [value]="slot.growthTray.growthJob?.progressPercentage" max="100"></progress>
      <p>{{ slot.growthTray.growthJob?.progressPercentage }}%</p>
    </div>
  </div>
</div>
